@page "/"

@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>
</AuthorizeView>



<h1>Bienvenido al Portal de Visado Virtual</h1>

<p>
    Bienvenido a su nueva aplicación de visado virtual. Esta plataforma está diseñada para simplificar y agilizar el proceso de solicitud y gestión de visas. Desde la comodidad de su hogar, puede acceder a una variedad de servicios relacionados con visas, incluyendo:
</p>

<ul>
    <li>Solicitar una nueva visa</li>
    <li>Renovar visas existentes</li>
    <li>Ver el estado de su solicitud de visa</li>
    <li>Recibir notificaciones y actualizaciones sobre su proceso</li>
    <li>Acceder a recursos y guías detalladas sobre requisitos de visado</li>
</ul>

<p>
    Nuestro objetivo es proporcionar una experiencia fácil de usar, segura y eficiente. Con nuestro sistema, eliminamos la necesidad de visitas presenciales y largos tiempos de espera. Además, garantizamos la protección de sus datos personales a través de medidas de seguridad avanzadas.
</p>

<p>
    Si tiene alguna pregunta o necesita asistencia adicional, no dude en contactar a nuestro equipo de soporte. Estamos aquí para ayudarle en cada paso del proceso.
</p>

<h2>Servicios Destacados</h2>

<p>
    Nuestra plataforma ofrece una serie de servicios destacados para facilitar su experiencia:
</p>

<ul>
    <li><strong>Asistencia en Línea:</strong> Nuestro equipo de soporte está disponible para ayudarle con cualquier duda o problema.</li>
    <li><strong>Actualizaciones en Tiempo Real:</strong> Reciba notificaciones automáticas sobre el estado de su solicitud.</li>
    <li><strong>Guías y Recursos:</strong> Acceda a una biblioteca de recursos útiles para comprender mejor los requisitos y procedimientos de visado.</li>
</ul>

<p>
    Gracias por confiar en nosotros para sus necesidades de visado. Esperamos poder ayudarle a obtener su visa de manera rápida y sencilla.
</p>

<footer>
    <p>&copy; 2024 Portal de Visado Virtual. Todos los derechos reservados.</p>
</footer>
