@page "/rate/create"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

@using Microsoft.AspNetCore.Authorization;


<h3>Crear</h3>

<RateForm @ref="rateForm" Rate ="rate" OnValidSubmit="Create" ReturnAction="Return"/>

@code {
    private Rate rate = new Rate();
    private RateForm rateForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/rates", rate);
        if (responseHttp.Error)
        {

            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });

        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito");
    }


    private void Return()
    {
        rateForm!.FormularioPosteadoConExito = true;
        navigationManager.NavigateTo("/rate");

    }
}
