@page "/typeVisas"
@using Microsoft.AspNetCore.Authorization
@using VirtualVisaCenter.Shared.Entities
@using VirtualVisaCenter.WEB.Repositories
@using VirtualVisaCenter.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<h3>Visas</h3>

<div class="card">
   

    <div class="card-body">
        <h4>Información sobre los tipos de visa</h4>
        <ul>
            <li><strong>Turismo:</strong> Visa para viajeros que desean visitar un país por motivos de turismo.</li>
            <li><strong>Negocios:</strong> Visa para personas que viajan por motivos de negocios, como reuniones, conferencias o negociaciones.</li>
            <li><strong>Empleo:</strong> Visa para individuos que tienen una oferta de empleo en el país de destino.</li>
            <li><strong>Estudios:</strong> Visa para estudiantes que desean estudiar en instituciones educativas en el extranjero.</li>
            <li><strong>Inmigración:</strong> Visa para personas que desean emigrar y establecerse permanentemente en otro país.</li>
            <li><strong>Comercio:</strong> Visa para comerciantes y empresarios que desean realizar actividades comerciales en el país de destino.</li>
            <li><strong>Inversión:</strong> Visa para individuos que planean realizar inversiones significativas en el país de destino.</li>
            <li><strong>Intercambio:</strong> Visa para participantes en programas de intercambio cultural, educativo o profesional.</li>
            <li><strong>Adopción:</strong> Visa para padres adoptivos que desean adoptar un niño en el país de destino.</li>
        </ul>

        <div class="card-header">
        <span>
        <i class="bi bi-person" /> ¿Deseas iniciar tu solicitud?
        <a class="btn btn-primary btn-sm float-center" href="/typeVisas/create"><i class="bi bi-plus-circle" />Solicita la tuya</a>

        </span>
        </div>
       @*  <GenericList MyList="typeVIsas">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in typeVIsas!)
                        {
                            <tr>
                                <td>
                                    <a href="/country/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>

                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                
                                <td>
                                    @item.Rate
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList> *@
    </div>
</div>


@* @code {
    public List<TypeVIsa> typeVIsas { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<TypeVIsa>>("/api/typeVisas");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        typeVIsas = responseHttp.Response;
    }



    private async Task DeleteAsycn(TypeVIsa typeVIsa)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar el tipo de visa?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<TypeVIsa>($"/api/typeVisas{typeVIsa.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("typeVIsas");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }

} *@