@page "/country/create"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

@using Microsoft.AspNetCore.Authorization;


<h3>Crear</h3>

<CountryForm @ref="countryForm" Country ="country" OnValidSubmit="Create" ReturnAction="Return"/>

@code {
    private Country country = new Country();
    private CountryForm countryForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/countries", country);
        if (responseHttp.Error)
        {

            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });

        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito");
    }


    private void Return()
    {
        countryForm!.FormularioPosteadoConExito = true;
        navigationManager.NavigateTo("/country");

    }
}
