@page "/agenda/edit/{Id:int}"
@using System.Net
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

@using Microsoft.AspNetCore.Authorization;

<h3>Editar</h3>

@if (agenda is null)
{
    <p>Cargando...</p>
}
else
{
    <AgendaForm @ref="agendaForm" Agenda="agenda" OnValidSubmit="Editar" ReturnAction="Return" />
}

@code {

    [Parameter]
    public int Id { get; set; }
    private Agenda agenda = new Agenda();
    private AgendaForm agendaForm;

    protected override async Task OnParametersSetAsync()
    {
        var responseHttp = await repository.GetAsync<Agenda>($"api/agendas/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/agenda");
            }
            else
            {
                var messsage = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", messsage, SweetAlertIcon.Error);
            }
        }
        else
        {
            agenda = responseHttp.Response;
        }
    }


    private async Task Editar()
    {
        var responseHttp = await repository.PutAsync("/api/agendas", agenda);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
    }

    private void Return()
    {
        agendaForm!.FormularioPosteadoConExito = true;
        navigationManager.NavigateTo("/agenda");
    }

}
